@use '../../../styles/buttons' as *;

.sign-in {
    // width: 540px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    img {
        position: relative;
        content: '';
        top: 55px;
        z-index: 1;
    }

    .auth-form {
        position: relative;
        text-align: center;
        z-index: 2;

        input {
            background: #D9D9D9;
            width: 360px;
            height: 40px;
            margin-bottom: 7px;
            border: none;
            text-align: center;
            outline-color: #371bb4;
            border-radius: 5px;
        }

        label:last-of-type input {
            margin-bottom: 33px;
        }

        .btn-auth {
            @include button-auth
        }
    }

    p {
        text-align: center;

        .link {
            transition: all 500ms ease;

            &:hover {
                cursor: pointer;
                color: #C123AB;
            }
        }
    }

}