.sign-up {}

.sign-up.container {
    width: 540px;
    align-items: center;
    margin: 0 auto;
}

.sign-up img {
    position: relative;
    content: '';
    top: 55px;
    z-index: 1;
}

.sign-up .auth-form {
    position: relative;
    text-align: center;
    z-index: 2;
}

.sign-up .auth-form input {
    background: #D9D9D9;
    width: 360px;
    height: 40px;
    margin-bottom: 7px;
    border: none;
    text-align: center;
    outline-color: #371bb4;
    border-radius: 5px;
}

.sign-up .auth-form select {
    background: #D9D9D9;
    width: 360px;
    height: 40px;
    margin-bottom: 7px;
    border: none;
    text-align: center;
    margin-bottom: 50px;
    outline-color: #371bb4;
    border-radius: 5px;
}

.sign-up p {
    text-align: center;
}